.cardContainer {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around; 
  }

.card {
    border: 1px solid #ccc; 
    border-radius: 8px;  
    padding: 16px;  
    margin: 16px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    max-width: 300px;  
    text-align: center;  
  }
  
  .card img.productImg {
    border-radius: 8px; 
    margin-bottom: 16px;  
  }
  
  .card h4 {
    font-size: 1.25em;  
    margin-bottom: 8px;  
    color: #333;  
  }
  
  .card h6 {
    font-size: 1em;  
    margin-bottom: 16px;  
    color: #ff5733;  
  }

  .card p {
    font-size: 0.875em; 
    color: #666;  
  }
  