body {
    display: flex;
    align-items: flex-start;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    font-size: 16px;
}

#navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}